*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-color: aliceblue;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

button {
    width: 130px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
}

#settings {
    margin: 20px 0;
    padding: 0 5px;
    display: flex;
    gap:  24px;
}

#div-container {
    display: flex;
    width: max-content;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 5px 60px 60px 60px;
}

#grid-container {
    display: flex;
    box-sizing: content-box;
    background-color: white;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    flex-shrink: 0;
    border: 1px solid black;
}

.box {
    flex-grow: 0;
    flex-shrink: 0;
} 